{# Group Wrapper

- title
- description (string)
- fieldHtml (string)
#}
<script type="text/template" id="group-wrapper">
	<div id="<%= _atts.id %>" class="<%= _atts.class %>">
		<fieldset>
			<legend><%= title %></legend>
			<p class="description"><%= description %></p>
			<%= processed.html %>
		</fieldset>
	</div>
</script>

{# Field Wrapper

- name (string)
- title (string)
- description (string)
- fieldHtml (string)
#}
<script type="text/template" id="field-wrapper">
	<div class="field-wrapper form-group">
		<label for="<%= name %>" class="col-sm-3"><%= title %></label>
		<div class="col-sm-9">
			<%= fieldHtml %>
			<p class="description"><%= description %></p>
		</div>
	</div>
</script>

{# Field: input

- attributes (string)
#}
<script type="text/template" id="field-input">
	<input <%= attributes %>>
</script>

{# Field: textarea

- attributes (string)
#}
<script type="text/template" id="field-textarea">
	<textarea <%= attributes %>></textarea>
</script>


{# Field: select

- attributes (string)
- options (array)
	- value (string)
	- text (string)
#}
<script type="text/template" id="field-select">
	<select <%= attributes %>>
	<% _.forEach( options, function(option){ %>
	<option value="<%= option.value %>"><%= option.text %></option>
	<% }); %>
	</select>
</script>

{# Field: button

- title 
- attributes (string)
#}
<script type="text/template" id="field-button">
	<button <%= attributes %>><%= title %></button>
</script>